.App {
  display: flex;
  flex-direction: column;
  background: url('./resources/wallpaper.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

/* SearchBar */

.SearchBar {
  width: 100vw;
  border-radius: 5px;
  padding: 1% 0;
  display: flex;
  background: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0px 4px 31px 28px hsl(0deg, 0%, 100%);
}


.content-wrapper {
  width: 80vw;
}


.content-headings {
  display: flex;
  align-items: baseline;

}

.content-headings h1 {
  font-size: 35px;
  color: hsl(0deg 0% 100%);
  text-shadow: 2px 0 grey, 0 1px grey, -1px 0 grey, 0 -2px grey;
  font-family: 'Sonsie One', cursive;
  padding: 0 5px;
  margin: 0;
}

.content-headings h2 {
  font-size: 25px;
  font-family: 'Sonsie One', cursive;
  margin: 0;
  color: pink;
}

.content-input {
  display: flex;
}


html #standard-basic  {
  width: 440px;
}

.filter-search-wrapper {
  display: flex;
  align-items: baseline;
}

html .MuiInput-underline:after {
  border-bottom: 2px solid pink;
}


html .MuiFormLabel-root.Mui-focused {
  color: pink
}

html .MuiButton-contained {
  margin: 0 10px;
  font-size: 10px;
  padding: 0;
  height: 35px;
}

html .MuiButton-contained:hover {
  background-color: pink;
}


/* Results */

.circular-progress {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 8% 0;
}

.articles-wrapper {
  width: 80vw;
  margin: 1% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

html .MuiCardMedia-root {
  height: 150px;
}

html .MuiCard-root {
  width: 30%;
  margin: 1% 0;
}

html .MuiTypography-body1 {
  color: hsl(350deg, 95%, 69%);
}

html .MuiAlert-standardError {
  width: 80vw;
  margin: 6% auto;
}