.App {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover;
 height: 100vh;
 width: 100vw;
 overflow: scroll;
}

/* SearchBar */

.SearchBar {
  width: 40vw;
  display: flex;
}

.MuiTextField-root {
  width: 100%;
  margin: 0 1%;
}